/*----------------------------------------------------------------------------*/
/*Main CSS file for Trader ChatBot.
/*Last Updated: 07/02/2018
/*Author: Kyle Gough*/

/*----------------------------------------------------------------------------*/
/*Spacing Rules*/

.m-0 { margin: 0!important; }
.m-b-0 { margin-bottom: 0!important; }
.m-t-0 { margin-top: 0!important; }
.m-l-0 { margin-left: 0!important; }
.m-r-0 { margin-right: 0!important; }

.m-1 { margin: 1em!important; }
.m-b-1 { margin-bottom: 1em!important; }
.m-t-1 { margin-top: 1em!important; }
.m-l-1 { margin-left: 1em!important; }
.m-r-1 { margin-right: 1em!important; }

.m-2 { margin: 2em!important; }
.m-b-2 { margin-bottom: 2em!important; }
.m-t-2 { margin-top: 2em!important; }
.m-l-2 { margin-left: 2em!important; }
.m-r-2 { margin-right: 2em!important; }

.p-0 { padding: 0!important; }
.p-b-0 { padding-bottom: 0!important; }
.p-t-0 { padding-top: 0!important; }
.p-l-0 { padding-left: 0!important; }
.p-r-0 { padding-right: 0!important; }

.p-1 { padding: 1em!important; }
.p-b-1 { padding-bottom: 1em!important; }
.p-t-1 { padding-top: 1em!important; }
.p-l-1 { padding-left: 1em!important; }
.p-r-1 { padding-right: 1em!important; }

.p-2 { padding: 2em!important; }
.p-b-2 { padding-bottom: 2em!important; }
.p-t-2 { padding-top: 2em!important; }
.p-l-2 { padding-left: 2em!important; }
.p-r-2 { padding-right: 2em!important; }

.full-width { width: 100%; }

/*----------------------------------------------------------------------------*/
/*Navigation Bar*/

.brand-logo {
  padding-left: 1em!important;
  font-size: 1.5em!important;
}

nav {
  -webkit-box-shadow: 0 3px 6px 1px rgba(135,135,135,0.76);
  -moz-box-shadow: 0 3px 6px 1px rgba(135,135,135,0.76);
  box-shadow: 0 3px 6px 1px rgba(135,135,135,0.76);
  z-index: 1000;
  background-color: #efefef!important;
}

.brand-logo, #nav-mobile li, #mobile-demo li {
  color: #116466!important;
}

#nav-mobile li a {
  padding-left: 2em;
  padding-right: 2em;
  color: #116466;
}

.github {
  height: 18px;
  width: 18px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.container {
  margin: 0 auto!important;
  max-width: 1350px!important;
  width: 100%!important;
}
@media only screen and (min-width : 601px) {
  .container {
    width: 100%!important;
  }
}
@media only screen and (min-width : 993px) {
  .container {
    width: 80%!important;
  }
}

.chat-response-row {
  margin-left: 0!important;
  margin-right: 0!important;
  margin-bottom: 1em!important;
  padding-bottom: 1em!important;
  border-bottom-width: 2px!important;
  border-bottom-color: #ffca28!important;
  border-bottom-style: dashed!important;
}

.chat-response p .chat-response-row:last-child {
  margin-bottom: 0!important;
  padding-bottom: 0em!important;
  border-bottom: none!important;
}

/*----------------------------------------------------------------------------*/
/*Reponse Particulars*/

.quote {
  color: black;
  font-size: 1.5rem;
}

.speech {
  font-size: 1.2rem;
}

.headline {
  font-size: 1.5rem;
  color: black;
}

.headline-desc {
  padding-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 500px;
}

.showMore {
  width: 100%;
  background-color: transparent!important;
  border: none;
  border: 1px solid rgba(255, 195, 0, 0.5);
  padding: 8px 4px 8px 4px!important;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}

.info-table tr {
  border: none!important;
  background-color: transparent!important;
}

.info-table td {
  padding: 5px!important;
}

.info-table tr td:first-child {
  font-weight: bold;
}

.info-table tr td:last-child {
  color: #187ccc;
}

.news-row {
  background-color: #fff9c4;
  border-radius: 1em;
  border: 2px solid #fff9c4;
  padding: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s, -webkit-transform 2s; /* Safari */
  transition: all 0.5s;
}

.news-row:hover {
  border: 2px solid #fffde7;
  background-color: #fff59d;
}

/*----------------------------------------------------------------------------*/
/*Stocks*/

.stock-fall span:not(.stock-currency), .stock-fall i { color: #d32f2f; }
.stock-rise span:not(.stock-currency), .stock-rise i { color: #43a047; }
.stock-flat span:not(.stock-currency), .stock-flat i { color: #ff6d00; }
.stock-icon {
  font-size: 4.5rem;
}

.stock-rise, .stock-fall, .stock.flat {
  margin: 0!important;
}

/*TODO*/
.material-icons {
  vertical-align: middle !important;
  padding-bottom: 10px;
}
p.stock-performance {
  margin: 15px 0 0 0!important;

}
.stock-info-shareprice {
  font-size: 2rem;
  padding-right: 5px;
}
.stock-info-pointchange {
  font-size: 1.5rem;
}
.stock-info-percentagechange {
  font-size: 1.5rem;
}
.stock-currency {
  color: #212121;
  font-size: 1rem;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 5px;
}
.stock-name {
  font-size: 1.5rem;
  color: #212121!important;
  font-weight: bold;
  padding-right: 2em;
}
.table-no-format tr {
  border: none!important;
  background-color: transparent;
}
.table-no-format td {
  padding: 0!important;
}
/*TODO*/

/*----------------------------------------------------------------------------*/
/*Help Modal*/

strong {
  font-weight: bold!important;
}

.table-first-col-min tr td:first-child {
  width: 1%;
  white-space: nowrap;
  font-weight: bold;
}

.list-bullet-plus li:before {
  content: "- ";
}

/*----------------------------------------------------------------------------*/
/*News*/

.link-preview img {
  max-height: 120px;
  max-width: 100%;
}
.link-preview h4 {
  margin-top: 0;
}
.link-preview .alert {
  margin-bottom: 0;
}

/*----------------------------------------------------------------------------*/
/*Colour Scheme*/

footer {
  background-color: #1a1a1d!important;
  text-shadow: 0 -1px 0 #232323;
}

* { color: #116466; }
body { font-family: 'News Cycle', sans-serif; }

.brand-logo, h1 { font-family: 'Cinzel', serif!important; }

/*----------------------------------------------------------------------------*/
/*Buttons*/

 a.btn {
   background-color: transparent!important;
   border-color: #26a69a!important;
   color: #116466!important;
   border-radius: 2px!important;
   border: 2px!important;
 }

 .btn-round {
   background-color: white!important;
 }

 a.btn-round i {
   color: #116466;
 }

 .material-tooltip span {
   color: white!important;
 }

 .btn-record i {
   animation: flashred-text 0.5s linear 0s infinite alternate!important;
   animation-fill-mode: both!important;
 }


/*----------------------------------------------------------------------------*/
/*Chat Window*/

#chat-window {
  overflow-y: scroll;
  height: 88vh;
  box-shadow: 0 2px 0 0 #c1c1c1!important;
  border-radius: 2px;
  padding: 1em 2em 1em 2em!important;
  background-color: #e8eaf6;
  margin-top: 2px;
}

/*Div container for query input field*/
#search-input {
  border-radius: 2em;
  padding: 0 2em 0 2em!important;
  border: 2px solid #116466;
  box-shadow: 0 2px 0 0 #116466;
  margin-top: 4px!important;
  -webkit-transition: all 0.5s, -webkit-transform 2s; /* Safari */
  transition: all 0.5s;
}

#query-input {
  border-radius: 2em;
  margin: 4px 0 0 0!important;
  border: 2px solid #116466;
  box-shadow: 0 2px 0 0 #116466;
  -webkit-transition: all 0.5s, -webkit-transform 2s; /* Safari */
  transition: all 0.5s;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: white;
}

.test-container {
  display: flex;
}
.test-left {
  flex-grow: 1;
}

.test-left,
.test-right {
  padding-left: 10px;
  padding-right: 10px;
}

.test-right {
  width: auto;
}

#query-input:focus:not(.query-error), #query-input:hover:not(.query-error) {
  border-color: #4CAF50!important;
  box-shadow: 0 2px 0 0 #4CAF50!important;
}

/*Overrides bottom green box shadow on selected input forms.*/
input.valid[type="text"]:not(.browser-default) {
  box-shadow: 0 0 0 0 #4CAF50!important;
}

.query-error {
  border: 2px solid black;
  box-shadow: 0 2px 0 0 black;
  animation: flashred 0.5s linear 0s infinite alternate!important;
  animation-fill-mode: both!important;
}

#query-error-message {
  font-size: 0.75rem;
  color: #f44336!important;
  font-weight: bold;
  display: none;
}

/*Input field*/
#query, #fav-search {
  border-bottom: 0!important;
  margin-bottom: 0!important;
}

.left-border {
  border-left: 2px solid #81d4fa;
  padding-left: 2em;
}

.right-border {
  border-right: 2px solid #ffca28;
  padding-right: 2em;
}

.right-border-error {
  border-right: 2px solid #ef9a9a;
  padding-right: 2em;
}

.timestamp--left, .timestamp--right {
  color: #9e9e9e!important;
  font-size: 0.75rem!important;
  display: block;
}

.timestamp--left { float: left; }
.timestamp--right { float: right; }

.timestamp-row {
  padding: 0!important;
  margin: 0!important;
}

.chat {
  border-radius: 0.5em;
  border: 2px solid black;
  max-width: 85%;
  display: inline-block;
}

.chat p:not(.stock-performance) {
  margin: 0.75em 1.25em 0.75em 1.25em!important;
  color: #004d40!important;
  word-wrap: break-word;
  hyphens: auto;
}

.chat-query {
  float: left;
  background-color: #b3e5fc;``
  box-shadow: 0 2px 0 0 #e3f2fd!important;
  border-color: #81d4fa;
}

.chat-response {
  float: right;
  background-color: #ffe082;
  box-shadow: 0 2px 0 0 #fff8e1!important;
  border-color: #ffca28;
}

.chat-response-error {
  float: right;
  background-color: #ffcdd2;
  box-shadow: 0 2px 0 0 #ffebee!important;
  border-color: #ef9a9a;
}

.left { float: left; }
.right { float: right; }

.response-divider {
  height: 1px;
  border-bottom: 1px solid #f5f5f5;
  margin: 2em;
}

.chat-border {
  margin-bottom: 3em;
}

.chat-border:last-child {
  margin-bottom: 8em;
}

/*Spinning loader container div*/
#loader-div {
  padding: 1em;
  margin-bottom: 5em;
}

/*Spinning loader*/
.loader {
  border: 5px solid #c5e1a5;
  border-top: 5px solid #2e7d32;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  animation: spin-inf 0.75s linear infinite;
}

#overlay-container {
  position: relative;
  margin-top: 2em;
}
#overlay {
  position: absolute;
  top: -100px;
  width: 100%;
  height: 100%;
}

/*----------------------------------------------------------------------------*/
/*Scrollbar*/

/* Width */
::-webkit-scrollbar { width: 15px; }
/* Track */
::-webkit-scrollbar-track { background: #f1f1f1; }
/* Handle */
::-webkit-scrollbar-thumb { background: #888; }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #555; }

/*----------------------------------------------------------------------------*/
/*Favourites Modal*/

.fav-search-input {
  border-radius: 1em;
  padding: 0 2em 0 2em!important;
  border: 1px solid #116466!important;
  box-shadow: 0 1px 0 0 #116466!important;
  margin-top: 4px!important;
  -webkit-transition: all 0.5s, -webkit-transform 2s; /* Safari */
  transition: all 0.5s;
}

.fav-search-input:focus, .fav-search-input:hover {
  border-color: #4CAF50!important;
  box-shadow: 0 1px 0 0 #4CAF50!important;
}

.tabs {
  overflow: hidden!important;
  border: none!important;
  margin-bottom: 10px!important;
}

.tab {
  border-radius: 1em!important;
  border: 1px solid #ee6e73;
  margin-bottom: 10px!important;
}

.indicator {
  display: none!important;
}



.modal.modal-fixed-footer {
  height: 80%!important;
}

.modal {
  max-height: 80%!important;
  width: 80%!important;
}

tr {
  border: 1px solid #90caf9!important;
  background-color: #f7f7f7;
}

thead tr {
  background-color: #e8eaf6;
}

ul.tabs {
  background-color: #ffebee;
  border: 1px solid #ef9a9a;
}

.switch label .lever {
  border-radius: 2px!important;
}

.switch label .lever::before,
.switch label .lever::after {
  border-radius: 2px!important;
}

input.poll-rate-selector {
  width: 75px!important;
  text-align: center;
  border-bottom: solid 1px #eeeeee!important;
  box-shadow: 0 1px 0 0 #bdbdbd!important;
  background-color: white!important;
  margin-bottom: 0!important;
  border-radius: 1.2em!important;
}

.select-dropdown {
  text-align: center;
}

/*----------------------------------------------------------------------------*/
/*Graph Chart.js*/

.response-graph {
  width: 800px;
  height: 400px; /*600*/
}

/*----------------------------------------------------------------------------*/
/*Animations*/

/*Rotation animation*/
@keyframes spin-inf {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin-inf {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Animation for flashing red input fields to show an error.*/
@keyframes flashred {
  0% {
    border: 2px solid #e57373;
    box-shadow: 0 2px 0 0 #ef9a9a;
  }
  100% {
    border: 2px solid #b71c1c;
    box-shadow: 0 2px 0 0 #c62828;
  }
}

@-webkit-keyframes flashred {
  0% {
    border: 2px solid #e57373;
    box-shadow: 0 2px 0 0 #ef9a9a;
  }
  100% {
    border: 2px solid #b71c1c;
    box-shadow: 0 2px 0 0 #c62828;
  }
}

@keyframes flashred-text {
  0% { color: #e57373; }
  100% { color: #c62828; }
}

@-webkit-keyframes flashred-text {
  0% { color: #e57373; }
  100% { color: #c62828; }
}

/*----------------------------------------------------------------------------*/
/*Autocomplete*/

.ac-appender {
  padding: 0;
  margin: 0;
}

.autocomplete {
  display: -ms-flexbox;
  display: flex;
}

.autocomplete .ac-users {
  padding-top: 0px;
}

.autocomplete .ac-users .chip {
    -ms-flex: auto;
    flex: auto;
    margin-bottom: 10px;
    margin-right: 10px;
}

.autocomplete .ac-users .chip:last-child {
    margin-right: 5px;
}

.autocomplete .ac-dropdown .ac-hover {
    background: #eee;
}

.autocomplete .ac-input {
    -ms-flex: 1;
    flex: 1;
    min-width: 150px;
    padding-top: 0.6rem;
}

.autocomplete .ac-input input {
    height: 2.4rem;
}
